@import "../../constants.scss";

#io button {
  height: 50px;
  width: 60px;

  span {
    left: 4px;
    
    svg {
      position: relative;
      top: -1px;
      margin-right: 1px;
    }

    &.play {
      color: $green;
    }

    &.stop {
      color: $red;
    }
  }
}
