@import "../../constants.scss";

#io button {
  height: 50px;
  width: 60px;

  span {
    left: 5px;
    color: $grey-7;
    transition: color .2s;
    
    svg {
      position: relative;
      top: -1px;
      margin-right: 1px;
    }

    &.active {
      color: $green;
    }
  }
}
