@import "../../constants.scss";

#controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $height;
  padding-left: 15px;

  > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #logo, #io, .bank {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  #logo {
    font-weight: bold;
    transform: scale(1, 1.25);
  }
  
  #pad-name-display, #volume-slider {
    height: 50px;
    margin-top: 30px;
  }
}
