@import "../../constants.scss";

#pad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height;

  .drum-pad button {
    width: 100%;
    height: 125px;
    margin: 10px;
    font: bold 40px sans-serif;
  }
}