// Color Palette
$grey-1: #0A0A0B;
$grey-2: #131416;
$grey-3: #1D1E20;
$grey-4: #242629;
$grey-5: #303236;
$grey-6: #3A3C41;
$grey-7: #515151;
$grey-8: #B2B2B2;
$white: #F5F5F5;
$green: #499437;
$red: #DC394C;

// 3D Box Model
$width: 700px;
$height: 470px;
$depth: 80px;
$duration: 1s; 
